* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --color-bg: #fcfcfc;
  --color-bg-alt: #fff;
  --color-fg: #555;
  --color-fg-alt: #444;
  --color-primary: #2978b5;
  --shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.dark {
  --color-bg: #23283e;
  --color-bg-alt: #2a2f4c;
  --color-fg: #bdbddd;
  --color-fg-alt: #cdcdff;
  --color-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0,
  rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
}

// Section styles
.section {
  margin-top: 5em;

  @media (max-width: 600px) {
    margin-top: 4em;
  }

  &__title {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

// Link styles
.link {
  color: var(--color-primary);
  padding: 0 0 0.3em 0;
  position: relative;

  &:hover {
    color: var(--color-primary);
  }

  &:before {
    content: '';
    display: inline;
    width: 0;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--color-primary);
    transition: width 0.2s ease-in;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }

  &--nav {
    color: var(--color-fg);
    text-transform: lowercase;
    font-weight: 500;
  }

  &--icon {
    color: var(--color-fg);
  }
}

// Button styles
.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;

  &--outline {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  &--outline:hover,
  &--outline:focus {
    color: var(--color-bg);
  }

  &--outline:before {
    content: '';
    position: absolute;
    background-color: var(--color-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
  }

  &--outline:hover:before,
  &--outline:focus:before {
    right: 0;
  }

  &--plain {
    text-transform: initial;
    background-color: var(--color-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
    border: 0;
  }

  &--plain:hover {
    transform: translateY(-4px);
  }

  &--icon {
    padding: 0;
  }

  &--icon:hover,
  &--icon:focus {
    color: var(--color-primary);
  }

  &--icon:active {
    transform: translateY(-5px);
  }
}


