.nav {
  &__list {
    margin-right: 1.5em;
    display: flex;

    @media (max-width: 600px) {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  &__list-item {
    margin-left: 1.5em;

    @media (max-width: 600px) {
      margin: 0.5em 0;
    }
  }

  &__theme {
    margin-top: 0.4em;
  }
}

.app .nav__hamburger {
  display: none;

  @media (max-width: 600px) {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }
}
