.project {
  padding: 2em;
  border-radius: var(--corner-radius);
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  background-color: var(--color-bg-alt);
  position: relative;
  cursor: pointer;

  &:hover {
    transform: translateY(-7px);
  }

  &__description {
    line-height: 1.7;
    margin-top: 1em;
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
    list-style: none;
  }

  &__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-fg-alt);
  }

  .link--icon {
    margin: 0.7em;
  }
}
